<h1> Make a reservation!</h1>
<body>
	
	<form action="/addReservationItem/" method = "post">{% csrf_token %}
		<input type="text" name="peopleCount">
		<input type="text" name="reservationName">
		<input type="submit" value="Make Reservation">
	</form>

	<p> FOR DEV PURPOSES </p>
	<ul>
		{% for i in all_items %} 
        	<li>
            		{{i.content}}
        	</li>

        	<form action="/deleteReservationItem/{{i.id}}/" method = "post">{% csrf_token %}
            		<input type="submit" value="Delete">
        	</form>  

        	{% endfor %}
    	</ul>

</body>
